<h2><%= @contact.first_name() %>'s Address : <%= @address.street() %>, <%= @address.city() %>, <%= @address.state() %> <%= @address.zip_code() %> has been added to your address book.</h2>

<p><a href='contact/<%= @contact.id() %>/add/address'> Add another address for this contact</a></p>
<p><a href='/'>Home</a></p>
