<h3>Name: <%= @contact.first_name() %> <%= @contact.last_name() %></h3>
<h3>Birthday: <%= @contact.birthday() %></h3>

<h3>Phone Numbers:</h3>
  <ul>
    <% @contact.phone_numbers().each() do |number| %>
      <li>(<%= number.area_code() %>) <%= number.number() %> : <%= number.type() %></li>
    <% end %>
  </ul>

<h3>E-mails:</h3>
  <ul>
    <% @contact.emails().each() do |email| %>
      <li><%= email.user_name() %>@<%= email.domain() %></li>
    <% end %>
  </ul>


<h3>Addresses:</h3>
  <ul>
    <% @contact.addresses().each() do |address| %>
      <li><address>
        <strong><%= address.street() %></strong><br>
        <%= address.city() %>, <%= address.state() %> <%= address.zip_code() %>
      </address></li>
    <% end %>
  </ul>

<p><a href='/contact/<%= @contact.id() %>/add/phonenumber'>Add a New Phone Number</a></p>
<p><a href='/contact/<%= @contact.id() %>/add/email'>Add a New E-mail</a></p>
<p><a href='/'>Home</a></p>
